.app-container{
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
}

.add-todo{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

#outlined-basic{
    width: 100vh;
}

.list-container{
  width: 74%;
  align-self: center;
}

